.doctor-detail-container {
    height: 500px;
    border: 1px solid red;

    .intro-doctor {
        display: flex;
        height: 100px;

        .content-right {
            width: 40%;
            border: 1px solid green;
        }

        .content-left {
            width: 60%;
            border: 1px solid grey;
        }
    }
}