.doctor-profile-container {
    width: 100%;
    display: flex;
    padding: 10px;

    .content-left {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
    }

    .content-right {
        margin-left: 10px;
        .doctor-title {
            padding-bottom: 3px;
            margin-bottom: 3px;
            font-size: 18px;
            font-weight: 600;
            color: #337ab7;
        }
    }

    .clinic-infor {
        border-left: 1px solid #ccc;
        .name-clinic {
            font-size: 13px;
            padding: 6px 0;
            font-weight: 600;
        }
    
        .detail-address {
            font-size: 13px;
            padding: 3px 0;
        }
    }
}