.booking-modal-container {
    height: 100px;
    .booking-modal-content {
        .booking-modal-header {
            height: 30px;
            border: 1px solid res;
        }
        .booking-modal-body {
            height: 30px;
            border: 1px solid green;
        }
        .booking-modal-footer {
            height: 3px;
            border: 1px solid yellow;
        }
    }
}