.preview-img-container {
    display: flex;
    .lable-upload {
        padding: 5px;
        border-radius: 3px;
        background-color: #ddd;
        cursor: pointer;
    
        &:hover {
            opacity: 0.8;
        }
    }
}
