.section-specialty {
    height: 326px;

    .section-body {
    
        .section-content {
    
            .section-img {
                width: 100%;
                padding-top: 56.25%;
                background-image: url("../../../assets/specialty/co-xuong-khop.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
            }
        }
    }
}

