.section-specialty {
    width: 100%;
    height: 630px;
    background-color: #efeefe;
    border: 1px solid red;

    .specialty-content {
        .img-customize {
            height: 300px;
            border: 1px solid yellow;
        }
    }
}

//reset slick slider css
.slick-arrow:before {
    content: ;
    font-style: normal;
    font-weight: 400;
    background: #fff;
    border: 2px solid #d7d7d7;
    padding: 10px;
    text-align: center;
    color: #959595 !important;
}

.slick-prev{
    height: 48px;
    width: 44px;
    // opacity: 0.13;
    position: absolute !important;
    text-align: center;
    left: 0 !important;
    top: 50% !important;
    z-index: 999;

    &::before {
        content: "\e257" !important;
        color: red !important;
    }
}
.slick-next{
    background-color: blue !important;
    right: 0 !important;
}