.doctor-extra-infor-container {
    margin-top: 90px;
    padding-left: 20px;
    border-left: 1px solid #eee;

    .text-title {
        font-size: 14px;
        color: #666666;
        text-transform: uppercase;
        margin: 0;
    }

    .name-clinic {
        font-size: 13px;
        padding: 3px 0;
        font-weight: 600;
    }

    .detail-address {
        font-size: 13px;
        padding: 3px 0;
    }
}