.doctor-schedule-container {
    .all-schedule{
        .date-select {
            background-color: transparent;
            border: none;
            color: #337ab7;
        }
    }

    .all-available-time{
        
    }
}