.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }

    .pick-hour-container {
        height: 150px;

        .schedule-hours-list {
            width: 710px;
            border-right: 1px solid #eee;
            
            .btn-schedule {
                width: 160px;
                background: #fff04b;
                margin: 5px 0;
                margin-right: 8px;
                padding: 10px 15px;
                font-size: 14px;
                border: none;
            }
        }
    }
}